﻿<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="~/Content/Site.css" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")

</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                @Html.ActionLink("Store", "Index", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Products", "Products")</li>
                <li>@Html.ActionLink("Customers", "Customers")</li>
                <li>@Html.ActionLink("Employees", "Employees")</li>
            </ul>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
