﻿@model Store.Data.Product

@{
    Layout = null;
}

<div class="modal-dialog">
    <div class="modal-content clearfix">

        <div class="modal-body">
            @using (Html.BeginForm("AddProduct", "Home", FormMethod.Post, new { id = "addForm" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>AddProduct</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="col-md-12">
                        <div class="form-actions no-color col-md-1 add-margin_bottom">
                            <input type="submit" value="Add" class="btn btn-info btn-lg" id="addSubmit" />
                        </div>
                        <div class="form-actions no-color col-md-offset-9 col-md-1 add-margin_bottom">
                            <input type="submit" value="Back" class="btn btn-info btn-lg cancelButton" />
                        </div>
                    </div>
                </div>

            }

        </div>
    </div>
</div>

