﻿@model IEnumerable<Store.Data.Bill>

@{
    Layout = null;
}

<table class="billsTable table">
    <tr>
        <th></th>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a class="openModal" href="/Home/DeleteBill/@item.Id"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>             
            </td>
            <td>
                <a class="openModal" href="/Home/EditBill/@item.Id"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></a>
            </td>
            <td>
                @item.PurchaseDate
            </td>
            <td>
                @item.TotalPrice
            </td>
            <td>
                @item.Customer.Name
            </td>
            <td>
                @item.Employee.Name
            </td>

        </tr>
    }

</table>