﻿@model Store.Models.BillViewModel

@{
    Layout = null;
}

<div class="modal-dialog">
    <div class="modal-content clearfix">

        <div class="modal-body">
            @using (Html.BeginForm("CreateBill", "Home", FormMethod.Post, new { id = "addForm", @class = "billForm" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h3>CreateBill</h3>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                    <div class="form-group col-md-12">
                        <dl class="dl-horizontal">
                            <dt>Employee's Name</dt>
                            <dd>
                                <select name="EmployeeId" class="form-control">
                                    @foreach (var employee in Model.Employees)
                                    {
                                        <option value="@employee.Id">@employee.Name</option>
                                    }
                                </select>
                            </dd>
                        </dl>
                    </div>


                    <div class="form-group col-md-12">
                        <dl class="dl-horizontal">
                            <dt>Customer's Name</dt>
                            <dd>
                                <select name="CustomerId" class="form-control">
                                    @foreach (var customer in Model.Customers)
                                    {
                                        <option value="@customer.Id">@customer.Name</option>
                                    }
                                </select>
                            </dd>
                        </dl>
                    </div>

          
                    @*<fieldset class="col-sm-12">
                        <legend>Adding Products To Cart</legend>
                        <form>*@

                    <h4>Adding Products To Cart</h4>
                    <hr />
                    <div class="col-sm-12">
                        <div class="col-sm-5">
                            <label for="selectProduct">Select Product</label>
                            <select id="selectProduct" name="ProductId" class="form-control">
                                @foreach (var product in Model.Products)
                                {
                                    <option value="@product.Id" data-name="@product.Name" data-price="@product.Price">@product.Name (@product.Price)</option>
                                }
                            </select>      
                        </div>
                        <div class="col-sm-5">
                            <label for="productsNumber">Select Number</label>
                            <input id="productsNumber" name="ProductsNumber" type="number" min="1" step="1" value="1">                                       
                        </div>

                        @*<div class="form-group col-md-4">
                            <label class="control-label col-md-2" for="Number">Number</label>
                            <input class="form-control text-box single-line" data-val="true" data-val-number="The field Number must be a number." data-val-required="Требуется поле Number." id="Number" name="Number" type="number" min="0" step="1" value="">
                            <span class="field-validation-valid text-danger" data-valmsg-for="Number" data-valmsg-replace="true"></span>
                        </div>*@
                        @*<h4 class="col-md-4 col-md-offset-1">Select Product</h4>
                        <div class="col-md-5">
                            <select id ="selectProduct" name="ProductId" class="form-control">
                                @foreach (var product in Model.Products)
                                {
                                    <option value="@product.Id" data-name="@product.Name" data-price="@product.Price">@product.Name (@product.Price)</option>                                            
                                }
                            </select>                                   
                        </div>*@
                        <div class="col-sm-2">
                            <p class="p1css"><a div id="addProductToBill" class="btn btn-lg btn-info">Add</a></p>
                            @*@Html.ActionLink("Add", "AddProductToBill", null, new { @class = "openModal btn btn-info" })*@
                        </div>
                        @*<div class="col-md-12" id="CollumnsNamesForCreatingBill"></div>*@
                        <div class="col-sm-12" id="ProductsTableForCreatingBill"></div>
                        @*<div class="col-md-12" id="TotalPriceForCreatingBill"></div>*@
                    </div>
                        @*</form>
                    </fieldset>*@
                 
                    <div class="col-md-12">
                        <hr />
                    </div>

                    <div class="col-md-12">
                        <div class="form-actions no-color col-md-1 add-margin_bottom">
                            <input type="submit" value="Create" class="btn btn-info btn-lg" id="addSubmit" />
                        </div>
                        <div class="form-actions no-color col-md-offset-9 col-md-1 add-margin_bottom">
                            <input type="submit" value="Back" class="btn btn-info btn-lg cancelButton" />
                        </div>
                    </div>
               </div>

            }

        </div>
    </div>
</div>

@*@section scripts
{
    <script type="text/javascript">

        $(function () {
            $.ajaxSetup({ cache: false });

        });
</script>
}*@