﻿@model IEnumerable<Store.Data.Customer>

@{
    Layout = null;
}

<table class="customersTable table">
    <tr>
        <th></th>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a class="openModal" href="/Home/DeleteCustomer/@item.Id"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
            <td>
                <a class="openModal" href="/Home/EditCustomer/@item.Id"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></a>  
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.Email
            </td>
        </tr>
    }

</table>


