﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Customers";
}


<div class="col-sm-8">
    <div class="col-sm-offset-1 col-sm-11">
        @Html.ActionLink("AddCustomer", "AddCustomer", null, new { @class = "openModal btn btn-info btn btn-lg" })
    </div>
    <br />
    <div class="row">
        <div id="customersTable">Loading...</div>
    </div>
</div>


<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

@section scripts
{
    <script type="text/javascript">

        $(function () {
            $.ajaxSetup({ cache: false });

            updateCustomersTable();

            $(".container").on("click", ".cancelButton", function (e) {
                e.preventDefault();
                $('#modDialog').modal('hide');
            });


            $(".container").on("click", ".openModal", function (e) {
                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });


            $(".container").on("click", "#addSubmit", function (e) {
                e.preventDefault();
                var form = $('#addForm');
                var data = getFormData(form);
                $.ajax({
                    url: "@Url.Action("AddCustomer", "Home")",
                    data: JSON.stringify(data),
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    dataType: "text",
                    success: function (data) {
                        if (data == "true") {
                            $('#modDialog').modal('hide');
                            updateCustomersTable();
                        }
                    }
                });
            });


            $(".container").on("click", "#editSubmit", function (e) {
                e.preventDefault();
                var form = $('#editForm');
                var data = getFormData(form);
                $.ajax({
                    url: "@Url.Action("EditCustomer", "Home")",
                    data: JSON.stringify(data),
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    dataType: "text",
                    success: function (data) {
                        if (data == "true") {
                            $('#modDialog').modal('hide');
                            updateCustomersTable();
                        }
                    }
                });
            });


            $(".container").on("click", "#deleteSubmit", function (e) {
                e.preventDefault();
                var form = $('#deleteForm');
                var data = { Id: $("[name='Id']", form).val() };
                $.ajax({
                    url: "@Url.Action("DeleteCustomer", "Home")",
                    data: JSON.stringify(data),
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    dataType: "text",
                    success: function (data) {
                        if (data == "true") {
                            $('#modDialog').modal('hide');
                            updateCustomersTable();
                        }
                    }
                });
            });


            function updateCustomersTable() {
                $.ajax({
                    url: "@Url.Action("CustomersTable", "Home")",
                    data: "",
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    dataType: "text",
                    success: function (data) {
                        $("#customersTable").html(data);
                    }
                });
            };


            function getFormData(form) {
                var data = {
                    Id: $("[name='Id']", form).val(),
                    Name: $("[name='Name']", form).val(),
                    Email: $("[name='Email']", form).val(),
                };
                return data;
            };

        });
    </script>
}
