﻿@model Store.Data.Bill

@{
    Layout = null;
}

<div class="modal-dialog">
    <div class="modal-content clearfix">

        <div class="modal-body">
            @using (Html.BeginForm("DeleteBill", "Home", FormMethod.Post, new { id = "deleteForm" }))
            {
                @Html.AntiForgeryToken()
                <h4>DeleteBill</h4>
                <br />
                    <div>
                        <h5>Are you sure you want to delete this bill?</h5>
                        <hr />
                        @Html.HiddenFor(model => model.Id)
                        <div class="form-group col-md-12">
                            <dl class="dl-horizontal">
                                <dt>Purchase Date</dt>
                                <dd>@Model.PurchaseDate</dd>
                            </dl>
                        </div>

                        <div class="form-group col-md-12">
                            <dl class="dl-horizontal">
                                <dt>Employee's Name</dt>
                                <dd>@Model.Employee.Name</dd>
                            </dl>
                        </div>

                        <div class="form-group col-md-12">
                            <dl class="dl-horizontal">
                                <dt>Customer's Name</dt>
                                <dd>@Model.Customer.Name</dd>
                            </dl>
                        </div>

                        <div class="form-group col-md-12">
                            <dl class="dl-horizontal">
                                <dt>Total Price</dt>
                                <dd>@Model.TotalPrice</dd>
                            </dl>
                        </div>

                        <div class="col-md-12">
                            <div class="form-actions no-color col-md-1 add-margin_bottom">
                                <input type="submit" value="Delete" class="btn btn-info btn-lg" id="deleteSubmit" />
                            </div>
                            <div class="form-actions no-color col-md-offset-9 col-md-1 add-margin_bottom">
                                <input type="submit" value="Back" class="btn btn-info btn-lg cancelButton" />
                            </div>
                        </div>

                    </div>
            }
        </div>

            

        </div>
    </div>
</div>
