﻿@model Store.Data.Customer

@{
    Layout = null;
}

<div class="modal-dialog">
    <div class="modal-content clearfix">
        <div class="modal-body">
            @using (Html.BeginForm("DeleteCustomer", "Home", FormMethod.Post, new { id = "deleteForm" }))
            {
                <h4>DeleteCustomer</h4>
                <br />
                    <div>
                        <h5>Are you sure you want to delete this customer?</h5>
                        <hr />
                        <dl class="dl-horizontal">
                            @Html.HiddenFor(model => model.Id)

                            <dt>
                                @Html.DisplayNameFor(model => model.Name)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Name)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Email)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Email)
                            </dd>
                        </dl>

                        <div class="col-md-12">
                            <div class="form-actions no-color col-md-1 add-margin_bottom">
                                <input type="submit" value="Delete" class="btn btn-info btn-lg" id="deleteSubmit" />
                            </div>
                            <div class="form-actions no-color col-md-offset-9 col-md-1 add-margin_bottom">
                                <input type="submit" value="Back" class="btn btn-info btn-lg cancelButton" />
                            </div>
                        </div>

                    </div>
            }
        </div>
    </div>
</div>