﻿@model Store.Models.BillViewModel

@{
    Layout = null;
}

<div class="modal-dialog">
    <div class="modal-content clearfix">

        <div class="modal-body">
            @using (Html.BeginForm("EditBill", "Home", FormMethod.Post, new { id = "editForm", @class = "billForm" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h3>EditBill</h3>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group col-md-12">
                        <dl class="dl-horizontal">
                            <dt>Purchase Date</dt>
                            <dd id="PurchaseDate" name="PurchaseDate" value="Model.PurchaseDate">@Model.PurchaseDate</dd>
                        </dl>
                    </div>

                    <div class="form-group col-md-12">
                        <dl class="dl-horizontal">
                            <dt>Employee's Name</dt>
                            <dd>
                                <select name="EmployeeId" class="form-control">
                                    <option selected="selected" value="@Model.EmployeeId">@Model.Employee.Name</option>
                                    @foreach (var employee in Model.Employees)
                                    {
                                        <option value="@employee.Id">@employee.Name</option>
                                    }
                                </select>
                            </dd>
                        </dl>
                    </div>


                    <div class="form-group col-md-12">
                        <dl class="dl-horizontal">
                            <dt>Customer's Name</dt>
                            <dd>
                                <select name="CustomerId" class="form-control">
                                    <option selected="selected" value="@Model.CustomerId">@Model.Customer.Name</option>
                                    @foreach (var customer in Model.Customers)
                                    {
                                        <option value="@customer.Id">@customer.Name</option>
                                    }
                                </select>
                            </dd>
                        </dl>
                    </div>


                    <h4>Adding Products To Cart</h4>
                    <hr />
                    <div class="col-sm-12">
                        <div class="col-sm-5">
                            <label for="selectProduct">Select Product</label>
                            <select id="selectProduct" name="ProductId" class="form-control">
                                @foreach (var product in Model.Products)
                                {
                                    <option value="@product.Id" data-name="@product.Name" data-price="@product.Price">@product.Name (@product.Price)</option>
                                }
                            </select>
                        </div>
                        <div class="form-group col-sm-5 col-sm-offset-1">
                            <label for="productsNumber">Select Number</label>
                            <input id="productsNumber" name="ProductsNumber" type="number" min="1" step="1" value="1">
                        </div>

                        <div class="col-sm-2">
                            <p class="p1css"><a div id="addProductToBill" class="btn btn-lg btn-info">Add</a></p>
                        </div>
                        <div class="col-sm-12" id="ProductsTableForCreatingBill">
                            <table class="table">
                                <tr> 
                                    <th></th>
                                    <th>Product</th>
                                    <th>Number</th>
                                    <th>Price</th>
                                    <th></th>
                                </tr>
                                @foreach (var bp in Model.BillProduct)
                                {
                                    <tr>
                                        <td class="deleteProduct"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></td>
                                        <td>@bp.Product.Name</td>
                                        <td class="number">@bp.Number</td>
                                        <td class="price">@bp.Product.Price</td>
                                        <td><span class="idProduct" style="display:none">@bp.ProductId</span></td>
                                    </tr>
                                }                             
                                <tr id="stringTotalPrice">
                                    <td></td>
                                    <th>TotalPrice</th>
                                    <td></td>
                                    <th id="totalPrice" name="TotalPrice">@Model.TotalPrice</th>
                                </tr>
                            </table>
                        </div>
                    </div>


                    <div class="col-md-12">
                        <hr />
                    </div>


                    <div class="col-md-12">
                        <div class="form-actions no-color col-md-1 add-margin_bottom">
                            <input type="submit" value="Edit" class="btn btn-info btn-lg" id="editSubmit" />
                        </div>
                        <div class="form-actions no-color col-md-offset-9 col-md-1 add-margin_bottom">
                            <input type="submit" value="Back" class="btn btn-info btn-lg cancelButton" />
                        </div>
                    </div>
                </div>

            }

        </div>
    </div>
</div>
