﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Store";
}


<div class="col-sm-8">
        <div class="col-sm-offset-1 col-sm-11">
            @Html.ActionLink("CreateBill", "CreateBill", null, new { @class = "openModal btn btn-info btn btn-lg" })
        </div>
    <br />
    <div class="row">
        <div id="billsTable">Loading...</div>
    </div>
</div>


<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

@section scripts
{
    <script type="text/javascript">

        $(function () {
            $.ajaxSetup({ cache: false });

            updateBillsTable();

            $(".container").on("click", ".cancelButton", function (e) {
                e.preventDefault();
                $('#modDialog').modal('hide');
                //i = 0;
                //TotalPrice = 0;
            });


            $(".container").on("click", ".openModal", function (e) {
                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });


            $(".container").on("click", "#addSubmit", function (e) {
                e.preventDefault();
                var form = $('#addForm');
                var data = getFormData(form);
                $.ajax({
                    url: "@Url.Action("CreateBill", "Home")",
                    data: JSON.stringify(data),
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    dataType: "text",
                    success: function (data) {
                        if (data == "true") {
                            $('#modDialog').modal('hide');
                            updateBillsTable();
                            //i = 0;
                            //TotalPrice = 0;
                        }
                    }
                });
            });


            $(".container").on("click", "#editSubmit", function (e) {
                e.preventDefault();
                var form = $('#editForm');
                var data = getFormData(form);
                $.ajax({
                    url: "@Url.Action("EditBill", "Home")",
                    data: JSON.stringify(data),
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    dataType: "text",
                    success: function (data) {
                        if (data == "true") {
                            $('#modDialog').modal('hide');
                            updateBillsTable();
                        }
                    }
                });
            });

            function countTotalPrice() {
                var TotalPrice = 0;
                var prices = $('.price');
                var numbers = $('.number');
                for (i = 0; i < prices.length; i++) {
                    TotalPrice += parseFloat($(prices[i]).text()) * parseFloat($(numbers[i]).text());
                };
                $('#totalPrice').html(TotalPrice);
            };

            //var TotalPrice = 0;
            //var i = 0;
            $(".container").on("click", "#addProductToBill", function (e) {
                var IdProduct = $("#selectProduct").val();
                var Name = $("#selectProduct option:selected").attr("data-name");
                var Number = $("#productsNumber").val();
                var Price = $("#selectProduct option:selected").attr("data-price");
                //TotalPrice += parseFloat(Price);
                //if (i == 0) {
                if ($('#ProductsTableForCreatingBill').is(':empty')) {
                    var ProductsTable = '<table class="table">' +
                                        '<tr>' + '<th></th>' + '<th>Product</th>' + '<th>Number</th>' + '<th>Price</th>' + '<th></th>' + '</tr>' +
                                        '<tr>' + '<td class="deleteProduct"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></td>' + '<td>' + Name + '</td>' + '<td class="number">' + Number + '</td>' + '<td  class="price">' + Price + '</td>' + '<td>' + '<span class="idProduct" style="display:none">' + IdProduct + '</span>' + '</td>' + '</tr>' +
                                        '<tr id="stringTotalPrice">' + '<td></td>' + '<th>TotalPrice</th>' + '<td></td>' + '<th id="totalPrice"  name="TotalPrice">'+ '</th>' + '</tr>' +
                                        '</table>';
                    $('#ProductsTableForCreatingBill').html(ProductsTable);
                }
                else {
                    var NewString = '<tr>' + '<td class="deleteProduct"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></td>' + '<td>' + Name + '</td>' + '<td class="number">' + Number + '</td>' + '<td  class="price">' + Price + '</td>' + '<td>' + '<span class="idProduct" style="display:none">' + IdProduct + '</span>' + '</td>' + '</tr>';
                    $(NewString).insertBefore("#stringTotalPrice");
                    //$('#totalPrice').html(TotalPrice);                   
                };
                countTotalPrice();
                i++;
            })


            $(".container").on("click", ".deleteProduct" , function (e) {
                $(this).parent().remove();
                countTotalPrice();
            })


            $(".container").on("click", "#deleteSubmit", function (e) {   
                e.preventDefault();
                var form = $('#deleteForm');
                var data = { Id: $("[name='Id']", form).val() };
                $.ajax({
                    url: "@Url.Action("DeleteBill", "Home")",
                    data: JSON.stringify(data),
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    dataType: "text",
                    success: function (data) {
                        if (data == "true") {
                            $('#modDialog').modal('hide');
                            updateBillsTable();
                        }
                    }
                });
            });


            @*$(".container").on("click", "#editSubmit", function (e) {
                e.preventDefault();
                var form = $('#editForm');
                var data = getFormData(form);
                $.ajax({
                    url: "@Url.Action("EditProduct", "Home")",
                    data: JSON.stringify(data),
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    dataType: "text",
                    success: function (data) {
                        if (data == "true") {
                            $('#modDialog').modal('hide');
                            updateProductsTable();
                        }
                    }
                });
            });


            $(".container").on("click", "#deleteSubmit", function (e) {
                e.preventDefault();
                var form = $('#deleteForm');
                var data = { Id: $("[name='Id']", form).val() };
                $.ajax({
                    url: "@Url.Action("DeleteProduct", "Home")",
                    data: JSON.stringify(data),
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    dataType: "text",
                    success: function (data) {
                        if (data == "true") {
                            $('#modDialog').modal('hide');
                            updateProductsTable();
                        }
                    }
                });
            });*@

            function updateBillsTable() {
                $.ajax({
                    url: "@Url.Action("BillsTable", "Home")",
                    data: "",
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    dataType: "text",
                    success: function (data) {
                        $("#billsTable").html(data);
                    }
                });
            };

            function getFormData(form) {
                var data = {
                    Id: $("[name='Id']", form).val(),
                    EmployeeId: $("[name='EmployeeId']", form).val(),
                    CustomerId: $("[name='CustomerId']", form).val(),
                    TotalPrice: $("[name='TotalPrice']", form).html(),
                    PurchaseDate: $("[name='PurchaseDate']", form).html(),
                    IdProducts: $(".idProduct", ".billForm").map(function (i, elem) { return $(elem).html(); }).toArray(),
                    ProductsNumbers: $(".number", ".billForm").map(function (i, elem) { return $(elem).html(); }).toArray()
                    
                    //IdProducts: ($("span", form).val()).toArray()
                    //$("span", "#addForm").map(function(i,elem){return $(elem).html();}).toArray()
                };
                return data;
            };

            //public int Id { get; set; }
            //public System.DateTime PurchaseDate { get; set; }
            //public decimal TotalPrice { get; set; }
            //public int EmployeeId { get; set; }
            //public int CustomerId { get; set; }

            //public virtual Customer Customer { get; set; }
            //public virtual Employee Employee { get; set; }
            //[System.Diagnostics.CodeAnalysis.SuppressMessage("Microsoft.Usage", "CA2227:CollectionPropertiesShouldBeReadOnly")]
            //public virtual ICollection<BillProduct> BillProduct { get; set; }

        });
    </script>
}