﻿@model IEnumerable<Store.Data.Product>

@{
    Layout = null;
}

<table class="productsTable table">
    <tr>
        <th></th>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a class="openModal" href="/Home/DeleteProduct/@item.Id"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
            <td>
                <a class="openModal" href="/Home/EditProduct/@item.Id"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></a>
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.Price
            </td>
        </tr>
    }

</table>


